table {
    width: 800px;
    font-family: sans-serif;
    font-weight: 100;
    border-collapse: collapse;
    overflow: hidden;

    box-shadow: 0 0 20px #0000001a;
}

td,
th {
    background-color: #ffffff33;
    padding: 15px;
    color: black;
}

th {
    text-align: left;
    color: white;

}

thead th {
    background-color: #3071D4;
}

tbody tr:hover {
    background-color: #9494947a;
}

tbody td {
    position: relative;
}

tbody td:hover:before {
    content: "";
    position: absolute;
    background-color: #ffffff33;
    left: 0;
    right: 0;
    top: -9999px;
    z-index: -1;
}